.AppBar {
  background-color: #f8f8f8 !important;
  color: #4c8493 !important;
}
.MenuListItems * {
  color: #4c8493;
}
.MenuListItems:hover * {
  font-weight: bold !important;
}
.MenuListItems:hover .v-icon {
  transform: scale(1.1) !important;
  opacity: 1 !important;
}

.NavBar {
  background-color: #4c8493;
  color: #f8f8f8;
}
.NavBarListItems * {
  color: #f8f8f8;
}
.NavBarListItems:hover * {
  font-weight: bold !important;
}
.NavBarListItems:hover .v-icon {
  transform: scale(1.1) !important;

  /* usually color dimmed when not hovered but vuetify dims opacity when not hovered*/
  opacity: 1 !important; 
}
