//variables
$font-family: "Inter";
$primary-color: rgb(51, 71, 91);
$primary-color-hover: rgb(66, 91, 118);
$primary-color-gradient: linear-gradient(
  184deg,
  hsla(210, 28%, 28%, 1) 0%,
  hsla(210, 43%, 51%, 1) 100%
);
$secondary-color: rgb(245, 248, 250);
$secondary-color-dark: rgb(234, 240, 246);
$secondary-color-hover: rgb(229, 245, 248);

$tertiary-color: #ff7a59;

$primary-color-2: #4c8493;

$white: rgb(254, 254, 254);
$light-grey: rgb(247, 247, 247);
$light-medium-grey: rgba(0, 0, 0, 0.12);
$medium-grey: #bebebe;
$dark-grey: #979797;

$box-shadow-maincard: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13),
  0px 0px 2.9px rgba(0, 0, 0, 0.11);
$box-shadow-imagecard: 0 0 0 1px #7fd1de, 0 0 12px 0 rgba(0, 163, 189, 0.3);
$box-shadow-selectablecard-selected: 0 0 0 1px #00a4bd;
$box-shadow-field-active: 0 0 4px 1px rgba(0, 208, 228, 0.3), 0 0 0 1px #00d0e4;
$box-shadow-fab: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
  0 4px 8px 3px rgba(60, 64, 67, 0.15);

$font-size-logo: 22px;
$font-size-head: 20px;
$font-size-1: 22.5px;
$font-size-2: 19px;
$font-size-3: 16px;
$font-size-4: 14px;
$font-size-fieldlabel: 13.25px;

$font-size-largeText: 40px;
$font-size-subLargeText: 32px;
$font-size-subSubLargeText: 26px;


//vuetify font
.v-application,
.v-overlay-container {
  [class*="text-"] {
    color: #36405a;
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}

//appbar
.AppBar {
  background-color: $white !important;
  color: $primary-color !important;
}

.MenuListItems * {
  color: $primary-color;
}
.MenuListItems:hover * {
  font-weight: 600 !important;
}
.MenuListItems:hover .v-icon {
  font-weight: bold !important;
  opacity: 0.9 !important;
}

//navbar
.NavBar {
  background-color: $primary-color;
  color: $light-grey;
}
.NavBarListItems {
  border-radius: 8px !important;
  margin: 10px 0;
  transition: background-color 0.1s ease;
}
.NavBarListItems * {
  color: $light-grey;
}
.NavBarListItemTitle {
  font-size: calc($font-size-4 + 1px) !important;
  line-height: 1.15rem;
}
.NavBarListItemAppendIcon {
  display: none !important;
}
.NavBarListItems:hover {
  background-color: $primary-color-hover !important;
}
.NavBarListItems:hover * {
  // font-weight: 600 !important;
}
.NavBarListItems:hover .v-icon {
  font-weight: bold !important;
  opacity: 0.9 !important;
}
.NavBarListItems:hover .NavBarListItemAppendIcon {
  display: inline-block !important;
}

//global scrollbar
//firefox
html {
  scrollbar-width: thin; //overrides webkit-based width as well
  scrollbar-color: $medium-grey rgba(0, 0, 0, 0); //thumb and track
}
//webkit-based browsers
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $medium-grey;
  border-radius: 4px !important;
}

::-webkit-scrollbar-track {
  opacity: 0 !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $dark-grey;
}

//Elevated Page
.PageBackgroundDiv {
  background-color: $light-grey;
}
.PageBackgroundContainer {
  background-color: $light-grey;
}

.PageTitleCard {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 10px;
  background-color: $white;
  border-radius: 5px;
  border: none !important;
  margin-bottom: 16px;
  // box-shadow: 0 2px 6px #0000001f, inset 0 -1px #dadce0;
  box-shadow: $box-shadow-maincard;
}

.PageTitleCardText {
  color: $primary-color;
  font-size: $font-size-head;
  font-weight: bold;
}

.PageBodyCard {
  background-color: $white;
  padding: 40px 50px;
  border-radius: 5px;
  box-shadow: $box-shadow-maincard, 0px 0px 2.9px rgba(0, 0, 0, 0.11);
}

//Card
.CardsRow {
  margin: 5% 10%;
}
.ImageCard {
  height: 200px;
  width: 200px;
  margin: auto;
  padding: 12px;
  border: 1px solid #7fd1de;
  // border: 1px solid $primary-color-hover;

  border-radius: 3px;
}
.ImageCard:hover {
  cursor: pointer;
  box-shadow: $box-shadow-imagecard;
  // box-shadow: 0 0 0 1px $primary-color-hover, 0 0 12px 0 rgba(0, 163, 189, 0.3);
}
.ImageCardImage {
  padding-left: 45px !important;
  padding-right: 45px !important;
  object-fit: contain;
}
.ImageCardText {
  color: $primary-color;
  text-align: center;
  font-size: $font-size-3;
  font-weight: 500;
  //ellipses
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SelectableCard {
  height: 300px;
  width: 200px;
  margin: auto;
  padding: 12px;
  border: 1px solid #7fd1de;
  border-radius: 3px;
}
.SelectableCard:hover {
  cursor: pointer;
  box-shadow: $box-shadow-imagecard;
}
.SelectableCard_selected {
  border-color: #00a4bd;
  box-shadow: $box-shadow-selectablecard-selected;
  background-color: #e5f5f8;
  transition: all 0.15s ease-out;
}
.SelectedCardCheckboxCol {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.SelectableCardImage {
  padding-left: 45px !important;
  padding-right: 45px !important;
  object-fit: contain;
}
.SelectableCardTextHeadCol {
  padding-bottom: 0 !important;
}
.SelectableCardTextHead {
  color: $primary-color;
  text-align: center;
  font-size: $font-size-3;
  font-weight: 500;
  //ellipses
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.SelectableCardTextBodyCol {
  padding-top: 0px !important;
}
.SelectableCardTextBody {
  padding: 0px 16px !important;
  color: $primary-color;
  text-align: center;
  font-size: $font-size-fieldlabel;
  line-height: 18px;
  //ellipses
  white-space: normal;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

//Buttons
.ActionButton {
  color: $primary-color !important;
  border-radius: 50px;
  border: 2px solid $primary-color;
  opacity: 0.8;
}
.ActionButtonDimensions {
  height: 32px !important;
  width: 32px !important;
}
.ActionButton i {
  display: flex;
  // font-size: small !important;
}
.ActionButton:hover {
  opacity: 1;
}

.ActionButtonInverse {
  color: $white !important;
  background-color: $primary-color !important;
  border-radius: 50px;
  opacity: 0.8;
}
.ActionButtonInverse i {
  display: flex;
  // font-size: small !important;
}
.ActionButtonInverse:hover {
  opacity: 1;
}

.ButtonsRow {
}
.NormalButton {
  text-transform: none;
  background-color: $primary-color;
  color: $white;
}
.NormalButton:hover {
  background-color: $primary-color-hover !important;
}

.NormalButtonInverse {
  text-transform: none;
  background-color: $white;
  color: $primary-color;
  border: 1px solid $primary-color;
}
.NormalButtonInverse:hover {
  background-color: $light-grey !important;
}
.NormalButtonContrast {
  text-transform: none;
  background-color: $tertiary-color;
  color: $white;
}
.NormalButtonContrastInverse {
  text-transform: none;
  background-color: $white;
  color: $tertiary-color;
  border: 1px solid $tertiary-color;
}
.NormalButtonHeaderDimensions {
  height: 35px !important;
  width: 105px !important;
  font-size: small;
}

.PreviousButton {
  text-transform: none;
  background-color: $primary-color;
  background-image: none;
  color: $white;
  transition: background-color 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.PreviousButton:hover {
  background-color: $primary-color-hover;
  // background-image: $primary-color-gradient;
}

.PreviousButtonLabel {
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.PreviousButtonArrow {
  margin-right: -0.6rem;
  opacity: 0;
  transition: opacity 0.4s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.PreviousButton:hover .PreviousButtonLabel {
  transform: translateX(0.45em); /* move the text to the left when hovered */
}

.PreviousButton:hover .PreviousButtonArrow {
  padding-right: 0px;
  opacity: 1;
  transform: translateX(
    -0.45em
  ); /* show the arrow and slightly move it right */
}

.NextButton {
  text-transform: none;
  background-color: $primary-color;
  background-image: none;
  color: $white;
  transition: background-color 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.NextButton:hover {
  background-color: $primary-color-hover;
  // background-image: $primary-color-gradient;
}

.NextButtonLabel {
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.NextButtonArrow {
  margin-left: -0.6rem;
  opacity: 0;
  transition: opacity 0.4s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.NextButton:hover .NextButtonLabel {
  transform: translateX(-0.45em); /* Move the text to the left when hovered */
}

.NextButton:hover .NextButtonArrow {
  padding-right: 0px;
  opacity: 1;
  transform: translateX(0.45em); /* Show the arrow and slightly move it right */
}

//Table
.DataTable {
  color: $primary-color;
  border: 1px solid $medium-grey;
}
//toolbar
.DataTableTop {
  background-color: $secondary-color;
  color: $primary-color;
  // border-bottom: 1px solid $secondary-color-dark !important;
  border-bottom: thin solid $light-medium-grey; //replicate data-table's border
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  height: var(--v-table-row-height) !important;
}
.DataTableTop .v-toolbar__content {
  height: var(--v-table-row-height) !important;
}
.SearchField {
  max-height: 40px;
  margin-left: 65%;
  margin-right: 1%;
  background-color: $white;
  border: 1px solid $medium-grey;
  border-radius: 3px;
}
.SearchField:has(.v-field--active) {
  border-color: rgba(0, 208, 228, 0.5);
  box-shadow: $box-shadow-field-active;
  outline: 0;
}
//header option 1
.DataTable > .v-table__wrapper > table > thead tr {
  background-color: $secondary-color;
  // color: $primary-color;
  border-bottom: thin solid $light-medium-grey;
}

//header uppercase and border-right
.DataTable > .v-table__wrapper > table > thead tr th {
  text-transform: uppercase !important;
  border-right: thin solid $light-medium-grey;
}
.DataTable > .v-table__wrapper > table > thead tr th:last-child {
  border-right: none; /* Remove the right border for the last cell */
}
//body border-right
.DataTable > .v-table__wrapper > table > tbody tr td {
  border-right: thin solid $light-medium-grey;
}
.DataTable > .v-table__wrapper > table > tbody tr td:last-child {
  border-right: none; /* Remove the right border for the last cell */
}

//Form
.Header {
  height: auto !important;
  width: 55%;
  margin: 5px auto;
  padding: 16px;
  position: relative;
  overflow: visible;
  // border: 1px solid $medium-grey;
  border-top: 11px solid $primary-color;
  background-color: $light-grey;
}
.HeaderInverse {
  height: auto !important;
  width: 55%;
  margin: 3px auto;
  padding: 16px;
  position: relative;
  overflow: visible;
  border: 1px solid $medium-grey;
  border-top: 11px solid $primary-color;
}
.FormHeaderTextField input {
  font-size: $font-size-1 !important;
  font-weight: 600 !important;
  padding-top: 0px !important;
  margin-bottom: 15px;
}
.FormHeaderDescriptionField input {
  font-size: $font-size-4 !important;
  padding-top: 0px !important;
}
.Header-NoSection {
  border-radius: 8px;
}
.Header-Section {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.Section {
  width: 55%;
  margin: 5px auto;
  background-color: $light-grey;
  // border: 1px solid $medium-grey;
}
.SectionInverse {
  width: 55%;
  margin: 3px auto;

  border: 1px solid $medium-grey;
}

.Section-middle {
  border-radius: 0;
}

.Section-last {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.Section-submit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 32px !important;
}

.FormSectionTextField input {
  font-size: $font-size-2;
  font-weight: 600;
  padding: 0px;
}
.FormFieldGroupTextField input {
  font-size: $font-size-3;
  font-weight: 600;
  padding: 0px;
}
.FieldCols {
  padding-left: 0 !important;
  padding-right: 16px !important;
}

.FieldCols:nth-child(2n) {
  padding-right: 0 !important;
}
.FieldLabel {
  padding: 0 0 5px 2px;
  font-size: $font-size-fieldlabel;
}
.FieldDate input {
  display: block;
}
.FieldBoolGroup {
  height: 40px !important;
  display: flex;
  justify-content: space-between;
}
.FieldBoolButton {
  height: 100% !important;
  width: 48.5% !important;
  border: 1px solid $dark-grey;
  text-transform: none;
}
.FieldBoolButton_selected {
  transition: all 0.15s ease-in;
  background-color: $primary-color;
  color: $white;
}

//Dialog
.DialogCard {
  background-color: $light-grey;
}
.DialogCardTitle {
  background-color: $primary-color;
  color: $white;
}

//Elevated Page with Line
.ElevatedTabsLinePageTitleCard {
  display: flex;
  height: 107.5px;
  padding: 10px 10px 0px; //removed padding bottom to accomodate tabs
  background-color: $white;
  border-radius: 5px;
  border: none !important;
  margin-bottom: 16px;
  // box-shadow: 0 2px 6px #0000001f, inset 0 -1px #dadce0;
  box-shadow: $box-shadow-maincard;
}

.ElevatedTabsLinePageTitleCardText {
  color: $primary-color;
  font-size: $font-size-head;
  font-weight: bold;
}
.ElevatedTabsLinePageTabs {
  margin-top: 4px;
  .v-tab {
    border-radius: 10px !important;
  }
  .v-tab .v-btn__content {
    font-size: $font-size-4 !important;
    font-weight: 400;
    text-transform: none;
  }
  .v-tab-item--selected .v-btn__content {
    font-weight: 500 !important;
  }
  .v-tab__slider {
    height: 4px !important;
    border-radius: 24px !important;

    // border-radius: 24px;
    // bottom: -2.5px;
    // height: 5px;
    // left: 0px;
    // position: absolute;
    // width: 100%;
    // z-index: 1;
  }
}
.ElevatedCrumbsLinePageTitleCard {
  display: flex;
  height: 107.5px;
  padding: 10px;
  background-color: $white;
  border-radius: 5px;
  border: none !important;
  margin-bottom: 16px;
  // box-shadow: 0 2px 6px #0000001f, inset 0 -1px #dadce0;
  box-shadow: $box-shadow-maincard;
}
.ElevatedCrumbsLinePageCrumbs {
  margin-top: 8.5px;
  padding: 0px !important;
  .v-breadcrumbs-item {
    font-size: $font-size-4 !important;
    font-weight: 300;
    padding: 0px !important;
  }
  .v-breadcrumbs-divider {
    opacity: 0.7 !important;
  }
}
//Plain Page
.PlainPageBackgroundDiv {
  background-color: $light-grey;
}
.PlainPageBackgroundContainer {
  background-color: $light-grey;
  padding: 0px !important;
}

.PlainTabsLinePageTitleCard {
  display: flex;
  height: 107.5px;
  padding: 10px 30px 0px; //removed padding bottom to accomodate tabs
  background-color: $white;
  border-radius: 0px;
  border-top: 1px solid $medium-grey;
  border-bottom: 1px solid $medium-grey;
}

.PlainTabsLinePageBodyCard {
  background-color: $light-grey;
  padding: 10px 30px;
  border-radius: 0px;
}

//SubNavBarPage
.SubNavBarPageBackgroundDiv {
  background-color: $white;
}
.SubNavBarPageBackgroundContainer {
  background-color: $white;
  padding: 0px !important;
}
.SubNavBar {
  background-color: $secondary-color;
  color: $primary-color;
  border-top: 1px solid $medium-grey;
}

.SubNavBarListItems {
  // border-radius: 3px !important;
  margin: 10px 0;
  transition: background-color 0.1s ease;
  position: relative; //for :before border below
}
.SubNavBarListItems * {
  color: $primary-color;
}
.SubNavBarListItemAppendIcon {
  display: none !important;
}
.SubNavBarListItems:hover {
  background-color: $secondary-color-hover !important;
}
.SubNavBarListItems:hover * {
  // font-weight: 600 !important;
}
.SubNavBarListItems:hover .v-icon {
  font-weight: bold !important;
  opacity: 0.9 !important;
}
.SubNavBarListItems:hover .SubNavBarListItemAppendIcon {
  display: inline-block !important;
}
.SubNavBarListItems.v-list-item--active {
  // background-color: $secondary-color-hover !important;
  // border-left: 5px solid $primary-color;
}

.SubNavBarListItems.v-list-item--active::before {
  //alternate to border-left since that pushes text to the right when selected
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px; /* Your thick border width */
  height: 100%;
  background-color: $primary-color-hover; /* Your border color */
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.SubNavBarPageTitleCard {
  display: flex;
  height: 126px;
  padding: 10px 30px 0px; //removed padding bottom to accomodate tabs
  background-color: $white;
  border-radius: 0px;
  border-top: 1px solid $medium-grey;
  margin-bottom: 16px;
}
.SubNavBarPageTabs {
  margin-top: 20px;
  .v-tab {
    border-radius: 0px !important;
    border-left: 1px solid $medium-grey;
    border-top: 1px solid $medium-grey;
    border-bottom: 1px solid $medium-grey;
  }
  .v-tab:last-child {
    border-right: 1px solid $medium-grey;
  }
  .v-tab .v-btn__content {
    font-size: $font-size-4 !important;
    font-weight: 400;
    text-transform: none;
  }
  .v-tab-item--selected {
    background-color: $light-grey !important;
    border-bottom: none !important;
  }
  .v-tab-item--selected .v-btn__content {
    font-weight: 600 !important;
  }
  .v-tab__slider {
    display: none;
  }
}
.SubNavBarPageBorderBottom {
  border-bottom: 1px solid $medium-grey !important;
}

.SubNavBarPageBodyCard {
  background-color: $white;
  padding: 10px 46px; //30px + 16px
  border-radius: 0px;

  h3 {
    // font-size: 20px;
    line-height: 30px;
    color: $primary-color;
  }
  .SubNavBarPageFieldLabel {
    padding: 0 0 5px 0px;
    font-size: $font-size-fieldlabel;
    font-weight: 500;
  }
  .SubNavBarPageField {
    background-color: $secondary-color;
  }
  .ProfileImage {
    height: 120px;
    width: 120px;
    position: relative; //for overlay
  }
  .ProfileImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease; /* Smooth transition */
  }
  .ProfileImage:hover .ProfileImageOverlay {
    opacity: 1; /* Show overlay on hover */
  }

  .SubNavBarPageCard {
    //outlined
    border: 1px solid $medium-grey;

    //elevated
    // border: 1px solid $light-medium-grey;
    // box-shadow: rgba(45, 62, 80, 0.12) 0px 1px 5px 0px;
  }
  .SubNavBarPageHeader {
    border-bottom: thin solid $light-medium-grey;
    background-color: $secondary-color !important;
    padding: 20px;
  }
  .SubNavBarPageText {
    background-color: $white !important;
    padding: 20px;
  }
}

//Chat Big
$chat-primary-color: #fff;
$chat-secondary-color: #e9eef6;
$chat-secondary-hover-color: #dbe1ea;
$chat-text-color: #222;
$chat-subheading-color: #a0a0a0;
$chat-placeholder-color: #6c6c6c;

$chat-dark-text-color: #e3e3e3;
$chat-dark-subheading-color: #828282;
$chat-dark-placeholder-color: #a6a6a6;
$chat-dark-primary-color: #242424;
$chat-dark-secondary-color: #383838;
$chat-dark-secondary-hover-color: #444;

.header,
.chat-list .message,
.typing-form {
  margin: 0 auto;
  max-width: 950px;
}

.header {
  margin-top: 6vh;
  padding: 1rem;
  overflow-x: hidden;
}

.header :where(.title, .subtitle) {
  color: $chat-text-color;
  font-weight: 600;
  line-height: 3.5rem;
}

.header .title {
  width: fit-content;
  font-size: $font-size-largeText;
  background-clip: text;
  background: linear-gradient(to right, #4285f4, #d96570);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: GradientAnimation 5s ease infinite;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header .avatar {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
  // align-self: flex-start;
}

.header .subtitle {
  font-size: $font-size-subLargeText;
  color: $chat-subheading-color;

  .CursorIcon {
    font-size: 1.6rem;
    color: $dark-grey;
    margin-left: 2px !important;
    margin-bottom: 7px;
  }
}

.chat-list {
  padding: 2rem 1rem 12rem;
  max-height: 85vh;
  overflow-y: auto;
  scrollbar-width: thin; //overrides webkit-based width as well
  scrollbar-color: #acacac rgba(0, 0, 0, 0); //thumb and track
}

.chat-list .message {
  margin: 0.5rem auto 1.5rem auto;
}

.chat-list .message .message-content {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
}

.CursorIcon {
  // display: flex;
  animation: flicker 0.6s infinite;
  margin-bottom: 5px;
  color: $primary-color;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.chat-list .message .text {
  color: $chat-text-color;
  white-space: pre-wrap;
}

.chat-list .message.error .text {
  color: #e55865;
}

.chat-list .message.loading .text {
  display: none;
}

.chat-list .message .avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  align-self: flex-start;
}

.chat-list .message.loading .avatar {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.chat-list .message .icon {
  color: $chat-text-color;
  cursor: pointer;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  font-size: 1.25rem;
  margin-left: 3.5rem;
  visibility: hidden;
}

.chat-list .message .icon.hide {
  visibility: hidden;
}

.chat-list .message:not(.loading, .error):hover .icon:not(.hide) {
  visibility: visible;
}

.chat-list .message .icon:hover {
  background: $chat-secondary-hover-color;
}

.chat-list .message .loading-indicator {
  display: none;
  gap: 0.8rem;
  width: 100%;
  flex-direction: column;
}

.chat-list .message.loading .loading-indicator {
  display: flex;
}

.chat-list .message .loading-indicator .loading-bar {
  height: 11px;
  width: 100%;
  border-radius: 0.135rem;
  background-position: -800px 0;
  background: linear-gradient(to right, #4285f4, $chat-primary-color, #4285f4);
  animation: loading 3s linear infinite;
}

.chat-list .message .loading-indicator .loading-bar:last-child {
  width: 70%;
}
.QuestionTextColor {
  color: #6e6e6e !important;
}

@keyframes loading {
  0% {
    background-position: -800px 0;
  }

  100% {
    background-position: 800px 0;
  }
}

.typing-area {
  position: fixed;
  width: 100%;
  left: 0;
  // bottom: 25px;
  bottom: 0px;
  padding: 1rem;
  padding-bottom: 40px; //instead of bottom
  background: $chat-primary-color;
}

.typing-area :where(.typing-form, .action-buttons) {
  display: flex;
  gap: 0.75rem;
}
.NavDrawerBasedMargin {
  padding-left: calc(
    var(--v-layout-left) + 1rem
  ) !important; //position sticky removes the typing area from container so we now need to manually adjust margin-left based on navdrawer open or closed
}
.typing-form .input-wrapper {
  width: 100%;
  height: 56px;
  display: flex;
  position: relative;
}

.typing-form .typing-input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 1rem;
  color: $chat-text-color;
  padding: 1.1rem 4rem 1.1rem 1.5rem;
  border-radius: 100px;
  background: $chat-secondary-color;
}

.typing-form .typing-input:focus {
  background: $chat-secondary-hover-color;
}

.typing-form .typing-input::placeholder {
  color: $chat-placeholder-color;
}

.typing-area .icon {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  font-size: 1.4rem;
  color: $chat-text-color;
  align-items: center;
  justify-content: center;
  background: $chat-secondary-color;
  transition: 0.2s ease;
  opacity: 0.8;
}

.typing-area .icon:hover {
  background: $chat-secondary-hover-color;
}

.pulse-ring {
  content: "";
  width: 56px; //match .typing-area .icon
  height: 56px;
  background: transparent;
  border: 5px solid $primary-color-hover;
  border-radius: 50%;
  position: absolute;
  animation: pulsate infinite 1.5s;
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1.3, 1.3);
    opacity: 0;
  }
}

.typing-form #delete-chat-button {
  position: absolute;
  right: 40px;
  outline: none;
  border: none;
  transform: scale(0);
  background: transparent;
  transition: transform 0.2s ease;
}
.typing-form #send-message-button {
  position: absolute;
  right: 0;
  outline: none;
  border: none;
  transform: scale(0);
  background: transparent;
  transition: transform 0.2s ease;
}
.typing-form .typing-input:valid ~ #delete-chat-button {
  transform: scale(1);
}
.typing-form .typing-input:valid ~ #send-message-button {
  transform: scale(1);
}

@media (max-width: 768px) {
  .header :is(.title, .subtitle) {
    font-size: $font-size-subLargeText;
    line-height: 3rem;
  }

  .header .subtitle {
    font-size: $font-size-subSubLargeText;
    line-height: 2rem;

    .CursorIcon {
      font-size: 1.3rem;
      margin-bottom: 5px !important;
    }
  }
  .chat-list {
    padding: 2rem 1rem 7rem;
    max-height: 85vh;
  }
  .chat-list .message .text {
    font-size: 14px;
  }
  .chat-list .message .avatar {
    width: 32px;
    height: 32px;
  }

  .typing-area :where(.typing-form, .action-buttons) {
    gap: 0.4rem;
  }

  .typing-form .input-wrapper {
    height: 50px;
  }

  .typing-form .typing-input {
    padding: 1.1rem 3.5rem 1.1rem 1.2rem;
  }

  .typing-area .icon {
    height: 50px;
    width: 50px;
  }
  .pulse-ring {
    width: 50px; //match .typing-area .icon
    height: 50px;
  }
}
.WithinChatSmall {
  //modify ChatBig not just when screen is small(usgin mediaquery) but also when it is inside a popup
  padding-top: 0;
  padding-right: 0; //to push chat-list's scrollbar to right

  .header {
    padding-right: calc(
      1rem + 16px
    ); //to push scrollbar to right but match container's padding which has been removed on container-right
  }
  .header :is(.title, .subtitle) {
    font-size: $font-size-subLargeText;
    line-height: 3rem;
  }

  .header .subtitle {
    font-size: $font-size-subSubLargeText;
    line-height: 2rem;

    .CursorIcon {
      font-size: 1.3rem;
      margin-bottom: 5px !important;
    }
  }
  .chat-list {
    padding: 2rem calc(0.5rem + 16px) 5rem 0.5rem; //to push scrollbar to right but match container's padding which has been removed on container-right
    max-height: calc(460px - 80px); //match chat popup body minus footer height
  }
  .chat-list .message .text {
    font-size: 14px;
  }
  .chat-list .message .avatar {
    width: 32px;
    height: 32px;
  }

  .typing-area {
    position: absolute;
  }
  .typing-area :where(.typing-form, .action-buttons) {
    gap: 0.4rem;
  }

  .typing-form .input-wrapper {
    height: 50px;
  }

  .typing-form .typing-input {
    padding: 1.1rem 3.5rem 1.1rem 1.2rem;
  }

  .typing-area .icon {
    height: 50px;
    width: 50px;
  }
  .pulse-ring {
    width: 50px; //match .typing-area .icon
    height: 50px;
  }

  //custom mods for popup apart form media screen copy
  .typing-area {
    padding: 1rem !important;
  }
}

//Chat Small
//fab buttons
.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  height: 47px;
  width: 47px;
  // border-radius: 50%;
  box-shadow: $box-shadow-fab;
  background: $white;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.chatbot-toggler--open {
  transform: rotate(90deg);
}

.chatbot-toggler i {
  display: flex;
}

.chatbot-toggler__image {
  height: 30px;
  width: 30px;
}

.chatbot-popup {
  position: fixed;
  right: 35px;
  bottom: 30px;
  width: 420px;
  overflow: hidden;
  background: $white;
  border-radius: 15px;
  opacity: 0;
  pointer-events: none;
  // transform: scale(0.2);
  // transform-origin: bottom right; //im using v-if(to make sure typewriter in ChatBig's created() triggers only when popup is opened) so this gets negated so i commented it
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  // transition: all 0.1s ease;
  z-index: 1;
}

.chatbot-popup--open {
  opacity: 1;
  pointer-events: auto;
  // transform: scale(1);   //commenting this causes chat input footer to move to bottom of whole screen for some reason if i keep using position fixed for footer instead of changing it to absolute just for the popup
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 15px calc(16px + 0.5rem); //body's container's padding + body's chat-list's padding = matches body's message avatar
  background: $primary-color;
  justify-content: space-between;
}

.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-info .chatbot-logo {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
}

.header-info .logo-text {
  color: $white;
  font-weight: 600;
  font-size: $font-size-head;
}
.chat-header .close-chatbot {
  color: #fff;
  height: 40px;
  width: 40px;
  // margin-right: -10px;
  // padding-top: 2px;
  cursor: pointer;
  // border-radius: 50%;
  background: none;
  transition: 0.2s ease;
}
.close-chatbot i {
  display: flex;
}

.chat-body {
  // padding: 25px 22px;
  gap: 20px;
  // display: flex;
  height: 460px;
  overflow-y: auto;
  // flex-direction: column;
  scrollbar-width: thin;
}

@media (max-width: 520px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }

  .chatbot-popup {
    right: 0;
    bottom: 0;
    height: 80%;
    width: 90%;
  }

  .chatbot-popup .chat-header {
    padding: 12px 15px;
  }

  .chat-body {
    height: calc(90% - 55px);
    padding: 25px 15px;
  }
}
